{% load static %}
<section class="st-dark-bg">
    <div class="st-height-b100 st-height-lg-b80"></div>
    <div class="container">
        <div class="st-section-heading st-style1">
            <h4 class="st-section-heading-title">مهارت های من</h4>
            <h2 class="st-section-heading-subtitle">مهارت های من</h2>
        </div>
        <div class="st-height-b25 st-height-lg-b25"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="st-skill-wrap">
                    <div class="st-skill-heading">
                        <h2 class="st-skill-title">{{ my_user.title_skills }}</h2>
                        <div class="st-skill-subtitle">{{ my_user.text_skills }}
                        </div>
                    </div><!-- .st-skill-heading -->
                </div>
            </div>

            <!-- Progressbar -->

            <div class="col-lg-6">
                <div class="st-height-b0 st-height-lg-b30"></div>
                <div class="st-progressbar-wrap">
                    {% for skill in skills %}
                        <div class="st-single-progressbar">
                            <div class="st-progressbar-heading">
                                <h3 class="st-progressbar-title">{{ skill.name }}</h3>
                                <div class="st-progressbar-percentage wow fadeInLeft" data-wow-duration="1.5s"
                                     data-wow-delay="0.5s">{{ skill.persent }}%
                                </div>
                            </div>
                            <div class="st-progressbar" data-progress="{{ skill.persent }}">
                                <div class="st-progressbar-in wow fadeInLeft"></div>
                            </div>
                        </div><!-- .st-single-progressbar -->
                        <div class="st-height-b30 st-height-lg-b20"></div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>